@using freshMart.Models.Home;


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayout.css" rel="stylesheet" />
    <script src="~/Scripts/Script.js"></script>
    <style>
        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .fixed-header, .fixed-footer {
            width: 100%;
            background: whitesmoke;
            padding: 10px 0;
            color: #fff;
        }

        .fixed-header {
            top: 0;
        }

        .fixed-footer {
            bottom: 0;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }
    </style>
</head>


<body>
    <div class="fixed-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="logo">
                        <h1><a href="#"> Florista </a></h1>
                        @*<h3>My Shop</h3>*@
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 ">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (Session["cart"] != null)
                                {
                                    foreach (Item item in (List<Item>)Session["cart"])
                                    {
                                        <li> <a href="@Url.Action("RemoveFromCart","Home",new { productId=item.product.product_id})">@item.product.product_name (@item.Quiantity)<i class="fa fa-times"></i></a></li>
                                    }
                                }
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Checkout","Home")">Checkout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">

                    <div class="account">
                        <ul>
                            <li>
                                <div class="hidden-xs">
                                    <h4><a>Call</a></h4>
                                    <p>018##-######</p>
                                </div>

                                <div class="visible-xs">

                                    <p>018##-######</p>
                                </div>

                            </li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="nav-menus">

                        <ul class="nav nav-pills">
                            <li class="active"><a style="border-radius:initial;" href="/Authenticate/Login">Home</a></li>
                            @*<li><a style="border-radius:initial;" href="#">Location</a></li>*@
                            <li><a style="border-radius:initial;" href="/Home/About">About</a></li>
                            <li><a style="border-radius:initial;" href="/Admin/adminlogin">Admin</a></li>
                            <li><a style="border-radius:initial;" href="/Authenticate/Signup">User</a></li>


                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>



    @RenderBody()
    <hr />
    @*<div class="fixed-footer">
            <div class="container">
                <h3>@DateTime.Now.Year - My ASP.NET Application</h3>
            </div>
        </div>*@
    <div class="fixed-footer">
        <div class="row">
            <div class="col-md-12 copyright">

                <div class="col-md-6 col-sm-6 copyright-left">
                    <p>&copy; @DateTime.Now.Year - Restaurant Management. All right reserved.</p>
                </div>

                <div class="col-md-6 col-sm-6 copyright-right">

                    <ul class="list-unstyled list-social">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>

